#number{
    display: block;
    /* justify-content: center;
    align-items: center; */
    font-size: 10em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    color: black;
    text-align: center;
   
}
.centration{
    background-color: #E6B2BA;
    width: 400px;
    height: 300px;
    border-radius: 16px;
    padding: 90px;
    margin-left: 30%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.global{
 text-align: center;
}
button{
    color: #ffffff;
    text-align: center;
    font-weight: 300;
    background-color: #C599B6;
    border-radius: 6px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.5em;

}